name: Build and Test

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  build-and-test:
    runs-on: macOS-15

    steps:
    - uses: SwiftyLab/setup-swift@v1
      with:
        swift-version: '6.0'

    - name: Checkout
      uses: actions/checkout@v4

    - name: Build
      run: swift build

    - name: Test
      run: swift test
